@import url(./text.css);
@import url(./pieces.css);

.content {
  width: 100vw;
  overflow: hidden;
  /* background-image: url(../more-assets/bg5xtransparent.png); */
}

.footer {
  margin-bottom: 10vw;
  margin-top: 70px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.focus-wrapper {
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
}

.fwbg {
  position: absolute;
  background-color: white;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}

.focus-content > .focus-preview img {
  position: static;
  width: 70% !important;
}

.focus-content > :not(.fwbg) {
  z-index: 9999;
  position: static;
}

.focus-content {
  display: flex;
  flex-direction: column;
  top: 0;
  margin: 2vh 2vw;
  position: fixed;
}

.buy > p {
  display: flex;
  font-size: 12pt;
  margin: 10px 25px;
}
