.AB {
  position: relative;
  height: max-content;
  margin: -1em auto;
}

#AB1 {
  position: absolute;
  overflow: hidden;
  height: 450%;
  width: 100vw;
  margin: -1em auto;
  z-index: 2;
}

/* .AB > .piece-preview {
  transition: all 0.2s ease-in-out;
}

.AB > .piece-preview:hover {
  transform: scale(1.005);
} */

.AB > #sticky img {
  position: absolute;
  width: 130vw;
  left: 90px;
  top: 45vh;
  z-index: -10;
}

.AB > #yt_vis img {
  position: absolute;
  /* height: 7%; */
  width: 91vw;
  top: 80vh;
  left: 5vw;
  z-index: -11;
}

.AB > #bordeaux_cover img {
  position: absolute;
  width: 300px;
  top: 130vh;
  left: 5vw;
}

.AB > #lamb img {
  position: absolute;
  /* height: 10%; */
  width: 113vw;
  top: 180vh;
  left: 10vw;
}

.AB > #cthemess_cover img {
  /* display: none; */
  position: absolute;
  width: 300px;
  top: 240vh;
  right: 5vw;
}

.AB > #balloon_heart img {
  position: absolute;
  width: 113vw;
  top: 270vh;
  right: 20vw;
}

.AB > #circus img {
  position: absolute;
  width: 40vw;
  top: 290vh;
  right: 5vw;
}

.AB > #basicShit img {
  display: none;
  position: absolute;
  width: 120vw;
  top: 380vh;
  left: 20vw;
}

.AB > #window img {
  position: absolute;
  width: 70vw;
  top: 400vh;
  right: 2vw;
}

.AB > #jed5664 img {
  position: absolute;
  width: 113vw;
  top: 350vh;
  right: 20vw;
}

.AB > .bc-preview {
  position: absolute;
  width: 100%;
  right: -50vw;
  bottom: 0;
}

#AB3 {
  position: relative;
  height: 100vw;
  margin: -1em auto;
  margin-bottom: -70px;
  z-index: 1;
}

.AB > #house_gif img {
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 990px) {
  #AB3 {
    position: relative;
    width: 30vw;
    height: 30vw;
    z-index: 9999;
    margin: -5vw 0 -5vw 1vw;
  }

  #AB1 {
    height: 350%;
  }

  .AB > #house_gif img {
    position: absolute;
    width: 100%;
  }

  .AB > #sticky img {
    position: absolute;
    width: 500px;
    left: 29vw;
    top: 2vw;
    z-index: -10;
  }

  .AB > #yt_vis img {
    position: absolute;
    /* height: 7%; */
    width: 500px;
    top: 5vw;
    left: 70vw;
    z-index: -11;
  }

  .AB > #bordeaux_cover img {
    position: absolute;
    width: 700px;
    top: 9vw;
    left: 58vw;
  }

  .AB > #lamb img {
    position: absolute;
    /* height: 10%; */
    width: 350px;
    top: 30vw;
    left: 15vw;
  }

  .AB > #cthemess_cover img {
    /* display: none; */
    position: absolute;
    width: 500px;
    top: 80vw;
    left: 25vw;
  }

  .AB > #balloon_heart img {
    position: absolute;
    width: 55vw;
    top: 48vw;
    left: -15vw;
  }

  .AB > #circus img {
    position: absolute;
    width: 25vw;
    top: 50vw;
    right: 20vw;
  }

  .AB > #basicShit img {
    display: none;
    position: absolute;
    width: 120vw;
    top: 120vh;
    left: 20vw;
  }

  .AB > #window img {
    position: absolute;
    width: 15vw;
    top: 58vw;
    right: 48vw;
  }

  .AB > #jed5664 img {
    position: absolute;
    width: 30vw;
    top: 70vw;
    right: 10vw;
  }
}

@media only screen and (min-width: 1400px) {
  #AB1 {
    height: 220%;
  }
}

/* @media only screen and (min-width: 760px) {
  #AB1 {
    height: 200%;
  }
  .back {
    display: none;
  }
} */
