p {
  font-size: 14pt;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 25px;
  text-align: justify;
}

h4 {
  font-size: 16pt;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 0.5em 1.5em;
  text-align: left;
}

h5 {
  font-size: 14pt;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-style: italic;
  margin: 0.5em 1.5em;
  text-align: left;
}

.price > p {
  font-size: 22pt;
  margin: 0 25px;
}
